@model AssignmentWebPhone.Areas.Accuracy.Data.RegisterModel
@using BotDetect.Web.Mvc;
@using AssignmentWebPhone.Common;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/assets/accuracy/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/assets/accuracy/css/style.css">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
</head>

<body>
    @{MvcCaptcha registrationCaptcha = CaptchaHelper.GetRegistrationCaptcha(); }
    <div class="wrapper" style="background-image: url('/assets/accuracy/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="~/assets/accuracy/images/registration-form-1.jpg" alt="">
            </div>
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3>Registration Form</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.TextBoxFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.TextBoxFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                if (!registrationCaptcha.IsSolved)
                {
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            @Html.Captcha(registrationCaptcha)
                        </div>

                        @Html.Label("Retype the code", new
                        {
                            @class = "col-md-4 control-label",
                        @for = "CaptchaCode"
                        })


                    </div>
                    <div class="form-wrapper">

                        @Html.TextBox("CaptchaCode", null, new { @class = "form-control " })
                    </div>
                }
                <button type="submit">

                    Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <a href="@Url.Action("Login", "User")">
                    Login
                </a>
            }
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
